* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 10;
  align-items: center;
  height: 8.89vh;
  width: 100vw;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.title {
  font-size: 1rem;
  margin-left: 10vw;
  font-weight: bolder;
  color: #325592;
}

.right-buttons {
  visibility: hidden;
  margin-left: auto;
}

.navbar-button {
  margin-left: 25px;
  font-size: 20px;
  color: #325592;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.burger-menu {
  position: absolute;
  right: 10vw;
  width: 50px;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.burger-menu-first-line {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 10px;
  border-radius: 5px;
}

.burger-menu-second-line {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 20px;
  border-radius: 5px;
}

.burger-menu-third-line {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 30px;
  border-radius: 5px;
}

.burger-menu-first-line-to-open {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 10px;
  border-radius: 5px;
  animation: firstLineClosing 0.3s ease-in-out forwards;
}

.burger-menu-second-line-to-open {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 20px;
  border-radius: 5px;
  animation: secondLineClosing 0.3s ease-in-out forwards;
}

.burger-menu-third-line-to-open {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 30px;
  border-radius: 5px;
  animation: thirdLineClosing 0.3s ease-in-out forwards;
}

.burger-menu-first-line-to-close {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 10px;
  border-radius: 5px;
  animation: firstLineOpening 0.3s ease-in-out forwards;
}

.burger-menu-second-line-to-close {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 20px;
  border-radius: 5px;
  animation: secondLineOpening 0.3s ease-in-out forwards;
}

.burger-menu-third-line-to-close {
  width: 40px;
  height: 3px;
  background-color: #325592;
  top: 30px;
  border-radius: 5px;
  animation: thirdLineOpening 0.3s ease-in-out forwards;
}

.burger-menu-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 100vh;
  background-color: white;
  opacity: 1;
  z-index: 9;
  right: 0;
  top: 8.89vh;
  animation: burgerMenuButtonAnimation 0.5s ease-in-out forwards;
}

.burger-menu-panel-closing {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 100vh;
  background-color: white;
  opacity: 1;
  z-index: 9;
  right: 0;
  top: 8.89vh;
  animation: burgerMenuButtonCloseAnimation 0.5s ease-in-out forwards;
}

.burger-menu-button {
  font-size: 0.75rem;
  font-weight: 800;
  color: #325592;
  text-decoration: none;
  border: none;
  padding: 20px 0;
  cursor: pointer;
  background-color: transparent;
}

.slogan-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 70%;
  height: 70%;
  opacity: 0;
  animation: logoAnimation 0.6s ease-in-out forwards;
  margin-top: 8vh;
}

.slogan {
  opacity: 0;
  text-align: end;
  font-size: 1rem;
  font-weight: 800;
  width: 80vw;
  color: #325592;
  transform: translate(5%, -1.5vh);
  animation: sloganAnimation 0.4s 0.4s ease-in-out forwards;
}

.line {
  height: 3px;
  background-color: #325592;
  margin-top: 7vh;
}

.welcome-panel {
  color: #325592;
  margin-top: 4vh;
  opacity: 0;
  width: 100vw;
  animation: welcomePanelAnimation 0.5s 0.7s ease-in-out forwards;
}

.welcome-panel h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 5%;
}

.welcome-text {
  width: 90%;
  margin-top: 2vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.welcome-image {
  visibility: hidden;
  position: absolute;
  right: 350px;
  opacity: 0;
  animation: imageAnimation 0.5s 0.7s ease-in-out forwards;
}

.practitioners-panel {
  font-size: 1rem;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #325592;
}

.practitioners-panel h1 {
  margin-bottom: 3vh;
}

.practitioners-buttons-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-right {
  position: absolute;
  margin-top: 0.7%;
  max-width: 3.5vw;
  max-height: 3.5vw;
  background-color: #325592;
  visibility: hidden;
}

.practitioner-button {
  margin-top: 3vh;
  font-size: 1rem;
  font-weight: 800;
  color: #325592;
  text-decoration: none;
  border: 2px solid #325592;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
}

.practitioner-button span {
  margin-left: auto;
  margin-right: auto;
}

.practitioner-button:hover {
  background-color: #325592;
  color: white;
}

.practitioner-button:focus .arrow-right {
  position: relative;
  visibility: visible;
  width: 1rem;
  animation: arrowRightAnimation 0.3s 0.1s ease-in-out forwards;
}

.practitioner-button:focus {
  background-color: #325592;
}

.practitioner-button:focus span {
  animation: practitionerButtonAnimationClick 0.2s ease-in-out forwards;
}

.news-panel {
  font-size: 1rem;
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  background-color: #cce4f1;
}

.news-panel h1 {
  text-align: center;
  margin: 6vh 3vw 5vh 3vw;
  color: #325592;
}

.news-cards-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  border: none;
}

.news-card:hover {
  animation: newsCardAnimation 0.3s ease-in-out forwards;
}

.news-card img {
  width: 90%;
  height: 42%;
  border-radius: 10px 10px 0 0;
}

.news-text {
  color: #325592;
  width: 80%;
}

.news-text h2 {
  font-size: 1.1rem;
  margin-top: 0.8vh;
  margin-bottom: 0.3vh;
}

.news-text span {
  font-size: 0.8rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-style: italic;
}

.news-text p {
  font-size: 0.9rem;
  margin-top: 2.5vh;
  margin-bottom: 40px;
}

.footer-buttons {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.footer-button {
  font-size: 0.8rem;
  font-weight: 600;
  color: #325592;
  text-decoration: none;
  border: none;
  padding: 9px 20px;
  cursor: pointer;
  background-color: transparent;
}

.footer-text {
  width: 100vw;
  position: fixed;
  bottom: 0;
  font-size: 0.7rem;
  font-weight: 400;
  color: white;
  background-color: #325592;
  text-align: center;
  padding: 10px 20px;
}

@keyframes burgerMenuButtonAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes burgerMenuButtonCloseAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes firstLineClosing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes secondLineClosing {
  0% {
    width: 40px;
  }
  100% {
    width: 0;
  }
}

@keyframes thirdLineClosing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    background-color: #d3553f;
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@keyframes firstLineOpening {
  0% {
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes secondLineOpening {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@keyframes thirdLineOpening {
  0% {
    background-color: #d3553f;
    transform: rotate(-45deg) translate(5px, -5px);
  }
  100% {
    background-color: #325592;
    transform: rotate(0);
  }
}

@keyframes sloganAnimation {
  0% {
    transform: translate(7%, -1.2vh);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sloganAnimation1920 {
  0% {
    transform: translate(7%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoAnimation {
  100% {
    opacity: 1;
  }
}

@keyframes welcomePanelAnimation {
  0% {
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes welcomePanelAnimation1920 {
  0% {
    transform: translateX(-650px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageAnimation {
  0% {
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes practitionerButtonAnimationClick {
  0% {
    right: 0;
  }
  100% {
    right: 10px;
  }
}

@keyframes arrowRightAnimation {
  0% {
    left: 0;
  }
  100% {
    left: 15px;
  }
}

@keyframes newsCardAnimation {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.06;
  }
}

@media (min-width: 768px) {
  .burger-menu-panel {
    width: 35vw;
  }
  .navbar-button {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1rem;
  }

  .logo {
    width: 55%;
    height: 55%;
  }

  .news-card {
    width: 65%;
  }

  .practitioner-button {
    width: 70vw;
  }
}

@media (min-width: 1024px) {
  .right-buttons {
    margin-right: 10vw;
  }
  .footer-text {
    height: 80px;
  }
  .burger-menu {
    display: none;
  }

  .right-buttons {
    visibility: visible;
  }

  .welcome-panel h1 {
    margin-left: 13vw;
  }

  .welcome-text {
    margin-left: 40vw;
  }

  .slogan-container {
    flex-direction: row;
  }

  .logo {
    width: 35%;
    height: 35%;
    margin-left: 10vw;
  }

  .slogan {
    text-align: end;
    width: 40vw;
    font-size: 1.2rem;
  }

  .practitioners-buttons-panel {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    text-align: center;
  }

  .practitioner-button {
    width: 30vw;
  }

  .welcome-panel {
    left: 10vw;
    width: 60vw;
  }

  .news-panel h1 {
    margin: 8vh 0;
  }

  .news-cards-panel {
    flex-direction: row;
    justify-content: center;
  }

  .news-card {
    margin: 0 15px 15px 15px;
    margin-left: 15px;
    transform: translateX(0);
  }
}

@media (min-width: 1440px) {
  .logo {
    width: 25%;
    height: 25%;
  }

  .practitioners-panel h1 {
    margin-bottom: 4vh;
  }
}

@media (min-width: 1920px) {
  .slogan-container {
    position: relative;
    width: 1400px;
    left: 50vw;
    transform: translateX(-50%);
  }

  .news-panel h1 {
    margin: 65px 0;
  }

  .logo {
    margin-left: 100px;
  }

  .slogan {
    transform: translate(0, 0);
    animation: sloganAnimation1920 0.4s 0.4s ease-in-out forwards;
  }

  .welcome-panel {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    width: 1400px;
    animation: welcomePanelAnimation1920 0.5s 0.7s ease-in-out forwards;
  }

  .welcome-panel h1 {
    margin-left: 0;
  }

  .welcome-text {
    margin-left: 0;
    transform: translateX(0);
  }

  .practitioners-panel {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    width: 1400px;
    height: 300px;
  }

  .practitioners-buttons-panel {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .practitioner-button {
    width: 450px;
  }

  .news-card {
    margin: 0 30px 15px 30px;
    margin-top: -20px;
    width: 400px;
  }
}

html {
  visibility: visible;
  opacity: 1;
}
